.App {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.wrapper {
  text-align: center;
  width: 250px;
  display: block;
}

.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.code {
  height: 50px;
  flex-grow: 1;
  padding: 0 10px;
  background-color: #4357692d;
  border-radius: 10px;
  justify-content: flex-end;
  color: #ffecd1;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 2rem;
}

.indicator {
  width: 20px;
  height: 20px;
  margin: 15px;
  border-radius: 100%;
  box-shadow: #160c28 0px 2px 4px 0px, #160c28 0px 2px 16px 0px;
}

.correct {
  background: green;
}

.false {
  background: red;
}

.exitGamesLogo {
  width: 75%;
}


